<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
<form th:action="@{/login_f}" th:object="${user}" method="post">
    <!--<input type="email" th:field="*{email}" placeholder="Email" required>
    <input type="password" th:field="*{password}"  placeholder="Password" required>-->

    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password"  placeholder="Password" required>
    <div th:if="${error1}" style="color: red;">
        <span th:text="${error1}"></span>
    </div>


<!--    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->
    <button type="submit">Login</button>
</form>

</body>
</html>
